.client-card-header {
    padding-bottom: 0.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-weight: bold;
}

.client-card-box {
    border: .5px solid #9C9C9C;
    padding: 10px;
    box-shadow: 0 5px 10px -20px rgba(0, 0, 0, 0.2), 0 2px 6px -3px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 5px;
}